---
import Layout from '../layouts/Layout.astro';
import SocialMedia from '../components/SocialMedia.astro';
import MenuDropIcon from '../components/icons/elements/MenuDropIcon.astro';
import Technologies from '../components/Technologies.astro';
import Projects from '../components/Projects.astro';
import Contact from '../components/Contact.astro';
import Header from '../components/Header.astro';
---

<Layout title="Lucas Gonzalez | Desarrollador Web Full Stack +2 años de experiencia.">
	<main id="init">
		<!-- Header -->
		<header class="fixed  top-0 w-full">
			<Header />
		</header>

		<!-- Hero -->
		<section class=" max-w-5xl flex flex-col justify-center align-center mx-auto animacion-horizontal text-white font-bold p-10" id="home-seccion">
			<h1 class="text-7xl"><span class="text-red-500">L</span>ucas Gonzalez</h1>
			<p>Desarrollador Web Full Stack <span class="text-red-400">+2 años</span> de experiencia.</p>
			<SocialMedia />
		</section>

		<!-- About me -->
		<section class="max-w-5xl mx-auto text-white animacion-aparecer" id="about-seccion">
			<h1 class="font-bold text-5xl text-center mb-12">Acerca de mi</h1>
			<p class="text-left text-wrap mb-14 p-10" data-aos="fade-up-left">
				<span class="text-xl font-bold text-orange-500">Especialista</span> en Tecnología de la Información con certificación en <span class=" font-bold text-red-300 text-xl">Ciberseguridad</span> para sistemas de control industrial.
				Poseo una sólida experiencia en <span class="text-blue-300 font-bold text-xl">desarrollo de software</span>, complementada con habilidades en gestión de redes y soporte técnico.
				Destaco por mi enfoque proactivo en la resolución de problemas y mi dedicación a la mejora continua en el ámbito de la ciberseguridad.
				<br><br>
				Soy un <span class="font-bold text-xl text-yellow-200">comunicador eficaz</span>, capaz de colaborar eficientemente en equipos multidisciplinarios. 
				Mi responsabilidad y compromiso con la calidad se reflejan en cada proyecto que emprendo,
				siempre con el <span class="font-bold text-xl text-green-400">objetivo</span> de fortalecer la seguridad y eficiencia de los sistemas tecnológicos.	
			</p>

			<!-- Slider para las habilidades -->
			<div class="tecnologias" id="technologies-seccion" data-aos="fade-up-right">
				<h1 class="text-3xl font-bold text-center mb-12">Stack tecnológico</h1>
				<Technologies />
			</div>
			
		</section>

		<section id="projects-seccion" data-aos="zoom-in-up">
			<Projects />
		</section>

		<!-- Contact -->
		<section id="contact-seccion" data-aos="zoom-in-up">
			<Contact />
		</section>

		<!-- Footer -->
		<footer>
			<div class="max-w-5xl mx-auto text-white animacion-aparecer mb-8">
				<p class="text-center mb-8">© 2024 <a href="https://www.linkedin.com/in/lucas-gonzalez-espinosa-073bba248">Lucas Gonzalez</a>. Todos los derechos reservados.</p>
			</div>
		</footer>

		<!-- Boton para subir -->
		<button id="scroll-top" onclick="return irArriba()" class="fixed bottom-8 right-8 bg-red-400 hover:bg-red-500 text-white p-4 rounded-full shadow-lg hover:animate-bounce" data-aos="fade-up" aria-label="Subir">
			<svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
				<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 10l7-7m0 0l7 7m-7-7v18"></path>
			</svg>
		</button>
	</main>
	
	<script is:inline src="https://unpkg.com/aos@next/dist/aos.js"></script>
	<script is:inline>
		AOS.init();
	</script>

	<script src="/js/app.js" is:inline></script>
	<script type="module" src="/js/smoothscroll.js"></script>
</Layout>
