---
import MenuDropIcon from "./icons/elements/MenuDropIcon.astro";
---

<div class="header-contenido max-w-7xl flex flex-row justify-between items-center text-white animacion-vertical flex-wrap p-4 mx-auto">
    <div class="mb-4 sm:mb-0 flex justify-center sm:justify-start">
        <img src="/img/Avatar.png" alt="Imagen de Avatar" class="h-14 w-14 rounded-full">
    </div>

    <div class="relative inline-block text-left">
        <div>
            <button type="button" class=" md:hidden inline-flex justify-center w-full rounded-md borde shadow-sm px-4 py-2text-sm font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-100 focus:ring-indigo-500" id="menu-button" aria-expanded="true" aria-haspopup="true">
                <MenuDropIcon class=" bg-transparent stroke-red-400"/>
            </button>
        </div>

        <!-- nav para las pantallas grandes -->
        <nav class="md:flex flex-row items-center justify-between gap-5 hidden">
            <a href="#home-seccion" class="text-white hover:text-red-500 flex items-center justify-center">Home</a>
            <a href="#about-seccion" class="text-white hover:text-red-500 flex items-center justify-center">Acerca de mí</a>
            <a href="#technologies-seccion" class="text-white hover:text-red-500 flex items-center justify-center">Stack tecnologico</a>
            <a href="#projects-seccion" class="text-white hover:text-red-500 flex items-center justify-center">Proyectos</a>
        </nav>
        
        <div class="origin-top-right absolute right-0 w-56 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5" id="menu-items" role="menu" aria-orientation="vertical" aria-labelledby="menu-button" tabindex="-1">
            <div class="py-1" role="none">
                <a href="#home-seccion" class="text-gray-700 block px-4 py-2 text-sm" role="menuitem" tabindex="-1" id="menu-item-0">Home</a>
                <a href="#about-seccion" class="text-gray-700 block px-4 py-2 text-sm">Acerca de mí</a>
                <a href="#technologies-seccion" class="text-gray-700 block px-4 py-2 text-sm" role="menuitem" tabindex="-1" id="menu-item-2">Stack tecnologico</a>
                <a href="#projects-seccion" class="text-gray-700 block px-4 py-2 text-sm" role="menuitem" tabindex="-1" id="menu-item-3">Proyectos</a>
            </div>
        </div>
    </div>
</div>