---
interface Props {
	title: string;
}

const { title } = Astro.props;

// Tipogafia de la pagina
import '@fontsource-variable/onest';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/png" href="/img/Avatar.png" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}
	html {
		font-family: 'Onest Variable', sans-serif;
		background: #13151a;
		background-size: 224px;
		scroll-behavior: smooth !important;
	}

	/* Custom styles */
	header {
		-webkit-box-shadow: 0px .5px 5px 0px rgba(0,0,0,0.75);
		-moz-box-shadow: 0px .5px 5px 0px rgba(0,0,0,0.75);
		box-shadow: 0px .5px 5px 0px rgba(0,0,0,0.75);
	}

	section {
		min-height: 100vh;
		margin-bottom: 10rem;
	}

	.animacion-vertical {
		animation: animacion-vertical 2s ease-in-out 1;
	}

	.animacion-horizontal {
		animation: animacion-horizontal 2s ease-in-out 1;
	}

	.animacion-aparecer {
        animation: animacion-aparecer 3s ease-in-out;
    }


	/* Animaciones personalizadas */
	@keyframes animacion-vertical {
		0% {
			transform: translateY(-500%);
		}
		100% {
			transform: translateY(0%);
		}
	}

	@keyframes animacion-horizontal {
		0% {
			transform: translateX(-100%);
		}
		100% {
			transform: translateX(0%);
		}
	}

	@keyframes animacion-aparecer {
		0% {
			opacity: 0;
		}
		100% {
			opacity: 1;
		}
	}
</style>
