---
interface Props {
	title: string;
}

const { title } = Astro.props;

// Tipogafia de la pagina
import '@fontsource-variable/onest';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class=" scroll-smooth">
		<slot />
	</body>
</html>
<style is:global>
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}
	html {
		font-family: 'Onest Variable', sans-serif;
		background: #13151a;
		background-size: 224px;
	}

	/* Custom styles */
	@keyframes animacion-vertical {
		0% {
			transform: translateY(-500%);
		}
		100% {
			transform: translateY(0%);
		}
	}

	@keyframes animacion-horizontal {
		0% {
			transform: translateX(-100%);
		}
		100% {
			transform: translateX(0%);
		}
	}
</style>
